---
import LandingLayout from '../layouts/LandingLayout.astro';
import FeatureGrid from '../components/FeatureGrid.astro';
import HeroSection from '../components/HeroSection.astro';
import Sections from '../components/Sections.astro';
import Section from '../components/Section.astro';
import { siteConfig } from '../data/config';
---

<LandingLayout title={siteConfig.title}>
  <HeroSection />

  <Section width="wide">
    <FeatureGrid />
  </Section>

  <Sections />
</LandingLayout>

<script is:inline src="/js/animations.js"></script>
